.product{
    display: flex;
    flex: 1 1 300px;
   // width: 300px;
    padding: 20px;
    border-radius: 4px;
    background-color: rgba(153, 152, 152, 0.455);
    gap: 12px;

img{
    width: 120px;
}
 &:nth-child(-n+2) {
     flex-direction: row-reverse;
 }
}
.product-light{
    background-color:white ;
    color: black;
}